html {
  overflow-y: scroll;
}

body {
  font-family: 'dejavu sans', helvetica, sans-serif;
  font-size: 1em;
  color: #3c3c3c;
  background-color: #fefefe;
}

a:link,
a:hover,
a:visited {
  color: #3c3c3c;
}

#blog {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#blog-title {
  font-size: 2.5em;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

#blog-title a:link,
#blog-title a:hover,
#blog-title a:visited {
  text-decoration: none;
}

div.blog-entries {
}

div.blog-entry {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.blog-entry-title {
  font-size: 1.6180399em;
  margin: 10px 0 10px 0;
}

div.blog-entry-title a:link,
div.blog-entry-title a:hover,
div.blog-entry-title a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

div.blog-entry-attributes {
  display: block;
  text-align: right;
}

div.blog-entry-date {
  color: #acacac;
  font-size: .8em;
  float: right;
}

div.blog-entry-date:before {
  content: "on";
  color: #cfcfcf;
  padding: 5px;
}

div.blog-entry-author {
  font-size: .8em;
  color: #acacac;
}

div.blog-entry-author a:link,
div.blog-entry-author a:hover,
div.blog-entry-author a:visited {
  color: acacac;
}

div.blog-entry-author:before {
  content: "by";
  color: #cfcfcf;
  padding: 5px;
}

div.blog-entry-body {
  line-height: 1.6180399em;
}

div.blog-entry-code {
  line-height: 1.0em;
  white-space: pre;
  padding-left: 5px;
  border-left: 2px solid #073642;
  margin-left: 30px;
  color: #3c3c3c;
}

div.blog-entry-code-header {
  padding: 0px;
  padding-left: 35px;
  padding-bottom: 10px;
  font-family: 'DejaVu Sans Mono', monospace;
  font-weight: bold;
  font-style: none;
  margin: 20px 0 0 30px;
  border-left: 2px solid #073642;
  color: #3c3c3c;
  line-height: 1.0em;
}

div.blog-toc {
}

div.blog-toc-entry-date {
  color: #839496;
  font-size: 0.8em;
}

div.blog-toc-entry-date:before {
  content: "on";
  padding: 5px;
  color: #cfcfcf;
}

ul.blog-toc-years {
  list-style-type: none;
  padding: 0px;
}

ul.blog-toc-years > li {
  padding: 0 0 10px 0;
  margin-top: 30px;
}

div.blog-toc-year {
  font-size: 2em;
  float: right;
}

ul.blog-toc-months {
  list-style-type: none;
  padding: 0;
}

ul.blog-toc-months > li {
  padding: 10px 0 0 0;
}

div.blog-toc-month {
  font-size: 1.6180399em;
}

div.blog-toc-entry-title,
div.blog-toc-entry-date {
  display: inline;
}

.blog-toc-entry-title > a {
  text-decoration: none;
}

ul.blog-toc-entries {
  padding: 10px 10 10 25;
}

ul.blog-toc-entries > li {
  list-style-type: none;
  padding: 5px 0 5px 0;
}

#footer {
  padding-bottom: 60px;
}

#footer > ul {
  padding: 0;
  margin: 0;
}

#footer > ul > li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

#footer > ul > li > a:link {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

#footer > ul > li > a:hover {
  text-decoration: underline;
}

.highlight .cp {
  font-weight: bold;
  color: #cb4b16;
}

.highlight .k {
  font-weight: bold;
  color: #859900;
}

.highlight .kt {
  font-weight: bold;
  color: #073642;
}

.highlight .n {
}

.highlight .nf {
  color: #268bd2;
}

.highlight .o {
  color: #6c6c6c;
}

.highlight .p {
  color: #9c9c9c;
}

.highlight .s {
  color: #dc322f;
}

.highlight .mi {
  color: #6c6c6c;
}

.highlight .cm {
  color: #839496;
}

pre {
  font-family: 'DejaVu Sans Mono', monospace;
  color: #555753;
}

div.linenodiv > pre {
  color: #93a1a1;
  padding-right: 5px;
  font-family: 'DejaVu Sans Mono', monospace;
  min-width: 20px;
  text-align: right;
}

div.blog-para {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inner-word;
}
